@import "tailwindcss";

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

:root {
    --bodyColor: "#000000";
}
body {
    background-color: var(--bodyColor);
}

a.active{
    color: #53A825;
    border: 1px solid #53A825;
    border-radius: 100%;
    border-style: dashed;
}